<app-add-dialog>
  <form>
    <mat-form-field>
      <mat-label>Seat Number</mat-label>
      <input
        type="number"
        matInput
        [formControl]="seatControl"
        [errorStateMatcher]="matcher"
      />
      @if (seatControl.hasError('required')) {
      <mat-error>Seat number is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </form>

  <div class="buttons">
    <button mat-button (click)="closeModal()">Cancel</button>
    <button
      mat-flat-button
      (click)="submit()"
      type="submit"
      [disabled]="!seatControl.valid"
    >
      Submit
    </button>
  </div>
</app-add-dialog>
