<app-add-dialog>
  <form>
    <mat-form-field>
      <mat-label>Screen Name</mat-label>
      <input
        type="text"
        matInput
        [formControl]="nameControl"
        [errorStateMatcher]="matcher"
      />
      @if (nameControl.hasError('required')) {
      <mat-error>Screen name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </form>

  <div class="buttons">
    <button mat-button (click)="closeModal()">Cancel</button>
    <button
      mat-flat-button
      [disabled]="!nameControl.valid"
      (click)="submit()"
      type="submit"
    >
      Submit
    </button>
  </div>
</app-add-dialog>
